body {margin:0;}

.icon-bar {
  overflow: hidden;
}

.icon-bar a {
  float: left;
  text-align: center;
  padding: 5px 5;
  color: white;
  font-size: 20px;
}

nav{
  background: black;
}


nav {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}
nav span{
  float: left;
  font-size:20px;
  color: white;
}

nav ul{
  margin: 2;
  padding: 2;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
.about{
  background-image: url('https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background:;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.color{
  color: green;
}
.contact{
  color: black;
}
.contact .contact-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}
.contact h1{
  text-align: center;
}
.contact label {
  display: block;
  font-weight: bold;
}
.contact input, .contact textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid lightgray 1px;
}
footer{
  background: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
footer a{
  text-decoration: none;
  color: white;
  font-size: 200%;
}
